<header>
  <div class="contenedor">
    <h1><span class="material-icons" style="vertical-align: bottom; font-size: 40px;">sports_esports</span>Games</h1>
    <input type="checkbox" id="menu-bar">
    <label class="material-icons" for="menu-bar">menu</label>
    <nav class="menu">
      <a href="#">Inicio</a>
      <a routerLink="/shop">Juegos</a>
      <a href="#">Ofertas</a>
      <a href="#">Carrito</a>
      <div class="dropdown">
        <a href="#">
          Admin
        </a>
        <div class="dropdown-content">
          <a routerLink="/admin/users">Users</a>
          <a routerLink="/admin/games">Games</a>
        </div>
      </div>
    </nav>
  </div>
</header>
