<header>
  <div class="contenedor">
    <h1><span class="material-icons" style="vertical-align: bottom; font-size: 40px;">sports_esports</span>Games</h1>
    <input type="checkbox" id="menu-bar">
    <label class="material-icons" for="menu-bar">menu</label>
    <nav class="menu">
      <a href="#">Home</a>
      <a routerLink="/shop">Games</a>
      <a href="#">Deals</a>
      <a href="#" *ngIf="isLogged">Shopping cart</a>
      <a href="#" *ngIf="!isLogged" routerLink="/login"><span class="material-icons">login</span>Log In</a>
      <a href="#" *ngIf="isLogged" (click)="onLogOut()"><span class="material-icons">exit_to_app</span>Log Out</a>
      <div class="dropdown" *ngIf="isAdmin">
        <a href="#">
          Admin
        </a>
        <div class="dropdown-content">
          <a routerLink="/admin/users">Users</a>
          <a routerLink="/admin/games">Games</a>
          <a routerLink="/admin/categories">Categories</a>
        </div>
      </div>
    </nav>
  </div>
</header>
