<h1>Game Details</h1>
    <table class="table">
        <tr>
            <th scope="col">Game Id</th>
            <td scope="col">{{game.id}}</td>
        </tr>
        <tr>
          <th>Category</th>
          <td *ngIf="game.idCatT!=-1">{{game.categoryName}}</td>
          <td *ngIf="game.idCatT==-1">Ninguna</td>
      </tr>
        <tr>
            <th>Game Name</th>
            <td>{{game.name}}</td>
        </tr>
        <tr>
            <th>Game Developer</th>
            <td>{{game.developer}}</td>
        </tr>
        <tr>
            <th>Game Price</th>
            <td>{{game.price}}</td>
        </tr>
    </table>
    <br>
    <img src="{{game.retrievedImage}}" height="200" width="200">
    <br><br>
    <a class="btn btn-small btn-warning" (click)="editGame()">Edit</a>
    <a class="btn btn-small btn-danger" (click)="deleteGame()">Delete</a>
