<div class="categoryDetails">
  <h2>Category details</h2>
  <table class="table">
    <tr>
      <th scope="col">Category Id</th>
      <td scope="col">{{category.idCat}}</td>
    </tr>
    <tr>
      <th>Category Name </th>
      <td> {{category.name}}</td>
    </tr>
    <tr *ngIf="category.games[0]==null">
      <th colspan="2">There aren't games</th>
    </tr>
    <tr *ngIf="category.games[0]!=null">
      <th>ID Game</th>
      <td>Game Name</td>
    </tr>
    <tr *ngFor="let game of category.games">
      <th>{{game.id}}</th>
      <td> {{game.name}}</td>
    </tr>
  </table>
  <a class="btn btn-small btn-warning" (click)="editCategory()">Edit</a>
  <a class="btn btn-small btn-danger" (click)="deleteCategory()">Delete</a>
</div>
