<h1>Games Admin</h1>
<a class="btn btn-primary mb-3" (click)="addGame()">Add New Game</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Game Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let game of games">
          <td>{{game.id}}</td>
          <td>{{game.name}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="viewGame(game.id)">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-addgame *ngIf="action === 'edit' || action === 'add'" [game]="selectedGame" (gameAddedEvent)="refreshData()"></app-addgame>
    <app-viewgame *ngIf="action === 'view'" [game]="selectedGame" (gameDeletedEvent)="refreshData()"></app-viewgame>
  </div>
</div>
